[[source]]
name = "pypi"
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
flask = "==1.0"
requests = "==2.18.4"
pylint = "*"

[requires]
python_version = "3.7"
